* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  background: transparent;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  animation: show 7s ease-in-out forwards;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
